
.cube-wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cube-box{
  transition: 1s;
  height: 500px;
}

.isometric-cube {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 200px;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
  transition: 1s;
  transform-origin:center; /* 중심축 고정 */
  animation: rotateCube 5s linear infinite;  
}


.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #333;
}
.face.top {
  background: "red";
  transform: rotateX(90deg) translateZ(100px);
}

.face.bottom {
  background: "red";
  transform: rotateX(-90deg) translateZ(100px);
}

.face.left {
  background: "red";
  transform: rotateY(-90deg) translateZ(100px);
}

.face.right {
  background: "red";
  transform: rotateY(90deg) translateZ(100px);
}

.face.front {
  background: "red";
  transform: rotateY(0deg) translateZ(100px);
}

.face.back {
  background: "red";
  transform: rotateY(180deg) translateZ(100px);
}

svg{
  position: relative;
}



@keyframes rotateCube {
  0% {
    transform: rotateX(45deg) rotateZ(45deg);
  }
  100% {
    transform: rotateX(45deg) rotateZ(405deg); /* 360도 + 기존 45도 */
  }
}

.cube-box:hover{
  transform: scale(1.5);
  z-index: 10;
}

.cube-box:hover .face.top{
  transition: 1S;
  transform: translateZ(200px);
}

.cube-box:hover .isometric-cube{
  transform: rotateX(80deg) rotateZ(10deg);
}

#top{
  transform: translateY(-200px);
}

#left{
  transform: translateX(-100px);
}
#right{
  transform: translateX(100px);
}

img{
  width: 100%;
  object-fit: cover;
}